.faq {
}

.question {
  border: 1px solid #ebecee;
  border-radius: 8px;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.8rem;
  margin: 2rem 0;
  padding: 2rem;
}

.question:hover {
  box-shadow: var(--boxshadow-medium);
}

.answer {
  line-height: 2;
  margin: 0 2rem;
}

.answer p {
  margin-bottom: 1.5rem;
}

.answer a {
  color: var(--color-primary);
}
